In [7]:
library(dplyr)
library(GenomicFeatures)

In [8]:
# this scripts transform local (transcriptomic) coordinates of extensions into global (genomic) coordinates using .gtf file. 
txdb <- makeTxDbFromGFF('/home/alla/make_PhD_great_again/NTE/VERSION_since_May2021/data/gencode.v25.annotation.gtf')

Import genomic features from the file as a GRanges object ...
OK

Prepare the 'metadata' data frame ...
OK

Make the TxDb object ...
Warning message in .get_cds_IDX(mcols0$type, mcols0$phase):
“The "phase" metadata column contains non-NA values for features of type
  stop_codon. This information was ignored.”
OK

# Known sole nonAUG: 5'UTR+nonAUG+dAUG1+4nt for the context

In [11]:
cr <- read.csv('tmp_res/known_sole_nonAUG_local_coo.txt',  sep='\t', stringsAsFactors = FALSE)

cr

   tr_id              nonAUG_start dAUG1_start
1  ENST00000305943.7  429           756
2  ENST00000524230.6  166           712
3  ENST00000392391.7  176           299
4  ENST00000392391.7  176           299
5  ENST00000392391.7  176           299
6  ENST00000392391.7  176           299
7  ENST00000506618.3   82           282
8  ENST00000265806.10 269           830
9  ENST00000472232.7   88           301
10 ENST00000608796.5  120           438
11 ENST00000343053.4  194           338
12 ENST00000339995.9  493          1111
13 ENST00000381140.8  195           900
14 ENST00000397260.7  120           453
15 ENST00000329610.4  383           539
16 ENST00000307522.3  565           775
17 ENST00000403230.1   76           313
18 ENST00000333039.2  125           158

In [12]:
tr_names <- cr$tr_id
start <- 1 #it was zero  # cds_start_pos	utr5_start
end <- cr$dAUG1_start+7

exons <- exonsBy(txdb, by="tx", use.names=TRUE)[tr_names]
x <- GRanges(tr_names, IRanges(start=start, end=end)) #,  
out <- data.frame(pmapFromTranscripts(x, exons))
write.table(out, 'tmp_res/known_sole_nonAUG_global_coo.txt', sep='\t')

# All transcript with cdsATG

In [6]:
cr <- read.csv('tmp_res/utr5_cdsATG_4nt_local.txt',  sep='\t', stringsAsFactors = FALSE)

head(cr)

  tr_id             cds_start_pos
1 ENST00000342066.7 83
2 ENST00000618181.4 80
3 ENST00000622503.4 80
4 ENST00000618323.4 80
5 ENST00000616016.4 80
6 ENST00000618779.4 80

In [7]:
tr_names <- cr$tr_id
start <- 1 #it was zero  # cds_start_pos	utr5_start
end <- cr$cds_start_pos+7

exons <- exonsBy(txdb, by="tx", use.names=TRUE)[tr_names]
x <- GRanges(tr_names, IRanges(start=start, end=end)) #,  
out <- data.frame(pmapFromTranscripts(x, exons))
write.table(out, 'tmp_res/utr5_cdsATG_4nt_global.txt', sep='\t')